@using System.Security.Claims

<h1>Mi perfil</h1>

<h2>@Context.User.Identity.Name</h2>

<ul class="list-group">
    <li class="list-group-item">
        Especialidad: @Context.User.FindFirst(ClaimTypes.Role).Value
    </li>
    <li class="list-group-item">
        Salario: @Context.User.FindFirst("Salario").Value
    </li>
    <li class="list-group-item">
        Hospital: @Context.User.FindFirst("Hospital").Value
    </li>
</ul>

<h2>Todos los claims</h2>

